*{
    box-sizing: border-box;
}


.container{
    
    border: 1px solid black;
    width: 60vw;
    height: 90vh;
    position:absolute;
    left: 25vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.container > * {
    
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;

}

.chart{
    margin-bottom: 20px; 
}

.pie {
    grid-area: 1 / 1 / 3 / 5;
}

.line{
    grid-area: 1 / 5 / 3 / 9;
}

.bar {
    grid-area: 1 / 9 / 3 / 13;
}

.stacked {
    grid-area: 3 / 3 /7 / 11;
 }