body {
    background-color: rgb(0, 255, 250)0;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
}
    
.profile-box {
    position: absolute;
    width: 40vw;
    height: 250vw;
    left: 38vw;
    flex: 1;
    top: ovh;
    max-width: 500px; 
    max-height: 690px;
    padding: 10px;
    background-color:  #fff; /* Background color */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(61, 12, 207, 0.1); 
    box-sizing: border-box; /* Include padding in width */
    text-align: center; /* Center text inside */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: left; /* Center content vertically */
    padding: 10px;

}
.picture{
    position: absolute;
    border-radius: 50%; /* Rounded corners */
    top: 10vh;
    width: 150px; 
}



.profile-box h2 {
    font-size: large;
    box-sizing: border-box;
    color: #e46008;
}

.profile-box h1{
    font-size: xx-large;
    box-sizing: border-box;
    color:#e46008 ;
}

.profile-box h3{
    font-size: large;
    color: #e46008;
}

.profile-box input[type="text"],
.profile-box input[type="email"],
.profile-box input[type="number"],
.profile-box input[type="tel"] {
        width: 400px; /* Full width minus padding */
        height: 25px;
        padding: 8px;
        right: 0dvw;
        border: 1px solid #07130b; /* Light grey border */
        border-radius: 4px;
        box-sizing: border-box; /* Include padding in width */
        margin-bottom: 19px; /* Increase margin-bottom for better spacing */
        font-size: 14px;
        
    }




label {
    text-align: left;
    display: block;
    font-size: 13px;
    margin-bottom: 1px;
    
    color: #11af72; /* Dark grey color for labels */
}


/* Input field styling */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] { /* Include tel type for phone number */
    width: 4000px; /* Full width minus padding */
    padding: 8px;
    right: 7dvw;
    border: 1px solid #07130b; /* Light grey border */
    border-radius: 10px;
    box-sizing: border-box; /* Include padding in width */
    margin-bottom: 90px; /* Increase margin-bottom for better spacing */
    font-size: 14px;
}

/* Button container styling */
.wrap {
    width: 100%; 
    display: flex; 
    justify-content: center; 
}

/* Button styling */
button {
    background-color: #17aa1c; 
    color: white; 
    border: none;
    padding: 9px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1640bd; 
}

.wrap button {
    height: 29px;
    align-items: center;
    display: flex; 
    justify-content: center;
}