{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
</head>

<body>
    <div class="login-container">

        <form action="{% url 'login-page' %}" method="post">
            {% csrf_token %}
            <h3>Login Page</h3>
            <label for="Name">Name</label><br>
            <input type="text" id="Name" name="Name" required size="50"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required size="50"> <br>

            <button id="submit" type="submit"> sign in </button>
            <p id="forgotten-password" style="font-size: 15px;">Forgotten password? <a href="#">reset</a></p><br>
            <p id="no-account" style="font-size: 15px;">Don't have an account yet?<a href="{% url 'sign-up'%}">sign up</a></p><br>
        </form>
    </div>
</body>

</html>