{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'CSS/analysispage.css' %}">
</head>

<body>
    <div class="main-page">
        <nav id="nav-bar">

            <li>
                <a class="nav-link">
                    <i class="fa-solid fa-bars"></i>
                    <p class="link-nav"></p>
                </a>

            </li>

            <li><a class="nav-link" href="{% url 'profile-page' %}">
                    <i class="fa-solid fa-user nav-icon"></i>
                    <p class="link-nav">profile-info</p>
                </a>
            </li>

            <li><a class="nav-link" href="{% url 'profile-display' %}">
                    <i class="fa-solid fa-user nav-icon"></i>
                    <p class="link-nav">profile</p>
                </a>
            </li>

            <li><a class="nav-link" href="{% url 'add-expense' %}">
                    <i class="fa-solid fa-edit nav-icon"></i>
                    <p class="link-nav">add</p>
                </a>
            </li>

            <li>
                <a class="nav-link" href="{% url 'expense-history' %}">
                    <i class="fa-solid fa-clipboard nav-icon"></i>
                    <p class="link-nav">history</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'analysis-page' %}">
                    <i class="fa-solid fa-chart-simple nav-icon"></i>
                    <p class="link-nav">analysis</p>
                </a>
            </li>
            </ul>
        </nav>
        <div class="analysis">

        </div>
    </div>


    </main>
    <script src="https://kit.fontawesome.com/ee9f777706.js" crossorigin="anonymous"></script>



</body>

</html>