{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp Page</title>
    <link rel="stylesheet" href="{% static 'CSS/sign-up.css' %}"> <!-- link to the try.css file -->
</head>
<body>
    <div class="signup-container">
        <div>
            <h1>SignUp</h1>
        </div>

        <form action="{% url 'sign-up' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="uname" name="uname" placeholder="Enter Username" required><br><br>
            <input type="email" id="email" name="email" placeholder="your_email@gmail.com" required><br><br>
            <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>
            <div class="show-password-container">
                <input type="checkbox" id="show-password">
                <label for="show-password">Show Password</label><br><br>
            </div>

            <button type="submit">Register</button><br><br>

            <div><a href="{% url 'login-page' %}">Already have an account?</a></div>
        </form>
    </div>
    <script src="{% static 'JS/sign-up.js' %}"></script>

</body>

</html>